<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the character encoding to UTF-8. -->
    <meta charset="UTF-8">
    <!-- Specify compatibility with Internet Explorer. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Define the viewport for responsive design. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external stylesheet 'styles.css'. -->
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Set the title of the page. -->
    <title>Traffic and Weather Info</title>
</head>
<body>
    <!-- Create a container div with the id 'announcements' to hold announcements. -->
    <div id="announcements"></div>
    <!-- Include an external JavaScript file 'script.js'. -->
    <script src="/static/script.js"></script>
</body>
</html>
